@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222 47% 11%;
  --foreground: 213 27% 84%;
  --primary: 24 95% 53%; /* Your Vermilion */
  --secondary: 210 100% 50%; /* Your Azure */
}

body {
  background-color: #020617;
  color: white;
  -webkit-font-smoothing: antialiased;
}
